* {
  margin: 0;
  padding: 0;
}

/* Header */

.coach-bg {
  background-image: url(/img/coaches/coach-bg.jpg);
}

.navigation-item:first-child a {
  color: var(--nav-hover-color);
}

/* Main */

.coach-card-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 40px; 

  margin: 32px 0;
}

