
/* header */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', 'Arial' ,sans-serif;
}

.page-header {
  position: relative;
  height: 110vh;
  width: 100%;
  background-image: url(/img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  transition: background-image 2.5s ease-in-out, background-color 2.5s ease-in-out;
  background-color: #000 /* #ededed */;
}


.page-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26, 20, 61, 0.5);
  width: 100%;
  height: 100%;
}


  /* Social, namePage, buttonTraining*/
.wrapper1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  margin: 0 40px;
  z-index: 2;
}

.name-page {
  order: 1;
}
.social {
  order: 0;
}
.button {
  order: 2;
}


.social {
  list-style: none;
  display: flex;
}

.social li {
  padding: 0 5px;
}

.name-page {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 50px;
}

.button {
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 1px;
  vertical-align: middle;
  height: 43px;
  width: max-content;
  padding: 0 30px;
  font-weight: 700;
  font-family: 'Montserrat';
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  color: #799ec8;
  border-color: #799ec8;
  transition: color 0.3s ease, border-color 0.3s ease;
}

hr {
  position: relative;
  display: block;
  background-color: #fff;
  border: 0;
  height: 1px;
  opacity: 0.3;
  margin: 0 40px;
  z-index: 2;
}

  /* Navigation */

.navigation {
  position: relative;
  margin: 0 40px;
  margin-bottom: 220px;
  z-index: 2;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.navigation-item a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color:#fff;
  cursor: pointer;
}

.navigation-item a:hover {
  transition: 0.3s ease-in-out;
  color: #1f5da4;
}

  /* Logo and namePage, shape */

.wrapper2 {
  position: relative;
  display: flex;
  align-items:center;
  flex-direction: column;
  color:#fff;
  z-index: 2;
}

.logo {
  position: relative;
  margin-bottom: 60px;
  z-index: 2;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}


/* Types of classes and cost */

.classes-and-cost {
  background-color: #ededed;
  padding-top: 75px;
}

.classes-and-cost h3 {
  position: relative;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#1a143d;
  margin-bottom: 115px;
}

.classes-and-cost h3::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -130px;
  width: 260px;
  height: 1px;
  background-color: #1a143d;
}

.classes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 100px;
  padding-bottom: 75px;
}

.classes-list figure {
  width: 260px;
  height: 356px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(26, 20, 61, 0.5);;
}


.individual img, .group img {
  margin-bottom: 20px;
  width: 100%;
}

.class {
  color: #1a143d;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.price {
  color: #1f5da4;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.price span {
  display: block;
  padding-top: 10px;
}

.wrapper {
  width: 100%;
  height: 42px;
  padding: 30px 0;
  background-color: #1a143d;
  background-attachment: fixed;
}

.wrapper h4 {
  color: #fff;
  text-align: center;
  line-height: 42px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}


/* Go training */

.go-training {
  position: relative;
  width: 100%;
  height: 560px;
}

.parallax {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 561px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.join-club {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  width: 960px;
  height: 232px;
  margin-left: -480px;
  margin-top: -116px;
  text-align: center;
}

.join-club-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
  line-height: 1.23;
}

.join-club-description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 70px;
  line-height: 1.5;
}

.join-club .button {
  text-transform: uppercase;
  height: 43px;
}

.bg-red {
  width: 100%;
  height: 76px;
  background-color: #910a13;
}

.personal-date {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 22px;
  
}
